:root {
    --border-radius-l: 30px;
    --border-radius-m: 20px;
    --border-radius-s: 15px;
    --border-radius-r: 50%;
    --border-radius-r2: 10000px;

    --box-shadow-color-xl: rgba(0,0,0,0.75);
    --box-shadow-color-l: rgba(0,0,0,0.4);
    --box-shadow-color-m: rgba(0,0,0,0.3);
    --box-shadow-color-s: rgba(0,0,0,0.2);
    --box-shadow-color-xs: rgba(0,0,0,0.1);

    --color-wheat: #FFD966;
    --color-nightsky: #002040;
    --color-grey1: #202020;
    --color-grey2: #0f0e0e;
}

/* Работают как чекбоксы
Форма, цвет, тень, выпуклость
Наведение, клик, активно, неактивно, недоступно
*/
.dash__button:focus:not(:focus-visible) {
    outline: none;
    box-shadow: 0 0 10px var(--box-shadow-color-s);
}
.dash__button:hover:not([disabled]):not([enabled]) {
    box-shadow: 0 0 10px var(--box-shadow-color-s);
}
.dash__button[enabled] {
    box-shadow: inset 0 0 10px var(--box-shadow-color-xs);
}

.dash__icon {
    margin: 3px;
    vertical-align: middle;
}

.player__cover {
    width: 250px;
    height: 250px;
    border-radius: 20px;
    margin: auto;
}

.scrollView {
    overflow: auto;
    height: 0;
    min-height: 100%;
    padding-right: 15px;
    -webkit-mask-image: linear-gradient(transparent, rgba(0,0,0,1) 20px, rgba(0,0,0,1) calc(100% - 20px), transparent 100%);
    mask-image: linear-gradient(transparent, rgba(0,0,0,1) 20px, rgba(0,0,0,1) calc(100% - 20px), transparent 100%);
}

.scrollView__container {
    padding: 20px 0;
}

.history {
    display: grid;
    gap: 10px;
}
.history__element {
    display: grid;
    grid-template-areas: "title title" "artist time";
    grid-template-columns: auto min-content;
    letter-spacing: 1px;
    text-decoration: none;
}
.history__title {
    grid-area: title;
    font-weight: bold;
    font-size: 1.05rem;
}
.history__artist {
    grid-area: artist;
    font-size: 0.95rem;
}
.history__time {
    grid-area: time;
}

.wallpaper {
    z-index: -1000;
    position: fixed;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    object-position: center;
    filter: brightness(0.5);
}

.blockquote {
    margin: 0;
    border-top: 2px solid rgba(255,255,255,0.5);
    border-bottom: 2px solid rgba(255,255,255,0.5);
    padding: 15px;
    text-align: center;
}
.blockquote__p {
    margin: 0 0 10px 0;
}
.blockquote__p::before {
    content: '«';
}
.blockquote__p::after {
    content: '»';
}
.blockquote__a {
    text-decoration: none;
}

.home {
    display: flex;
    flex-flow: column nowrap;
    gap: 1em;
    height: 100%;
}
.home__logo {
    flex-grow: 1;
    background: center / contain no-repeat url('logo.svg');
}
.home__madein {
    font-size: small;
    text-align: center;
    margin: auto 0 0 0;
}