:root {
    --border-radius-l: 30px;
    --border-radius-m: 20px;
    --border-radius-s: 15px;
    --border-radius-r: 50%;
    --border-radius-r2: 10000px;

    --box-shadow-color-xl: rgba(0,0,0,0.75);
    --box-shadow-color-l: rgba(0,0,0,0.4);
    --box-shadow-color-m: rgba(0,0,0,0.3);
    --box-shadow-color-s: rgba(0,0,0,0.2);
    --box-shadow-color-xs: rgba(0,0,0,0.1);
}

.dash {
    display: flex;
    flex-flow: row nowrap;
    grid-area: dash;
    gap: 20px;
}

/* Работают как чекбоксы
Форма, цвет, тень, выпуклость
Наведение, клик, активно, неактивно, недоступно
*/
.dash__button {
    display: block;
    transition: box-shadow ease-in 0.15s, color ease-in 0.15s;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    box-shadow: 0 0 10px var(--box-shadow-color-xs);
}
.dash__button:focus:not(:focus-visible) {
    outline: none;
    box-shadow: 0 0 10px var(--box-shadow-color-s);
}
.dash__button:hover:not([disabled]):not([enabled]) {
    box-shadow: 0 0 10px var(--box-shadow-color-s);
}
.dash__button:active:not([disabled]) {
    box-shadow: inset 0 0 10px var(--box-shadow-color-s);
}
.dash__button[enabled] {
    box-shadow: inset 0 0 10px var(--box-shadow-color-xs);
}
.dash__button[disabled] {
    color: rgba(255,255,255,0.4);
}

.dash__icon {
    margin: 3px;
    vertical-align: middle;
}

.element_shadow_xl, .frame {
    box-shadow: 0 0 10px var(--box-shadow-color-xl);
}